body {
	font: 20px Myriad, Lucida Grande;
	font-size: 1.5em;
}

table.board {
	width:100%;
	height:100vh;
	border-spacing: 10px;
}

td {
	background-image:url("CodeNameCardDesign.jpg");
	width:20%;
	height:20%;
	text-align: center;	
	background-position: center;
	background-size:100%;
	}

table.navigation {
	background-size:100%;
	border-spacing: 10px;
	width:100%;
}

td.navigation {
	width:50%%;
	background-image:none;
}

h1 {
	text-align: center;

}

button.spyMaster {
	display:inline-block;

}

form.seedInput {
	display:inline-block;
	font-size:14px;
}

.center {
	margin:auto;
	text-align: center;
}

#seed {
	border:none;
	border-bottom: 1px solid black;
	text-align: center;
	color:grey;
	font-size:1.5em;
	width:110%;
	height:2em;

}

p.block {
	font-weight: bold;
	display:inline-block;
	background: none;
	padding: 2% 15% 2% 15%;
}

.gameboard {
	display:relative;
}

.rulesPage {
	width:33%;
	padding:2%;
	background:white;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	margin:auto;
	line-height: 1.5em;
	font-size: 12px;
	display:none;
}

#closeRules {
	float:right;
	display:inline-block;
	color:grey;
}

#representativeButton {
	display:inline-block;
	float:right;
	font-weight: bold;
	color:grey;	
	padding-right:3%;
}

#representativeButton:hover {
	color:black;
}

#rulesButton {
	display:inline-block;
	float:right;
	font-weight:bold;
	color:grey;
	padding-right:3%;
}

#rulesButton:hover {
	color:black;
}

#start {
	padding-left:4%;
	font-weight:bold;
	color:grey;
}

#start:hover {
	color:black;
}
