body {
	font: 20px Myriad, Lucida Grande;
	font-size: 1.5em;
}

table.board {
	width:100%;
	height:100vh;
	border: 10px solid white;
}

td {
	background-image:url("CodeNameCardDesign.jpg");
	width:20%;
	height:20%;
	text-align: center;	
	background-position: center;
	background-size:150%;
	}

h1 {
	text-align: center;

}

button.spyMaster {
	display:inline-block;
}

form.seedInput {
	display:inline-block;
}

.center {
	margin:auto;
	text-align: center;

}

p {
	font-weight: bold;
	background-color: white;

	display:inline-block;
	background: rgba(256, 256, 256, 0.9);
	padding: 2% 15% 2% 15%;
}